@model CategoryCreateViewModel

<div class="container jumbotron">
    <div class="row">
        <div class="col-md-4 ">
            <h6 class="text-danger">@ViewBag.MyMessage</h6>
        </div>
        <div class="col-md-4">
            <form asp-controller="Category" asp-action="Create" method="post">

                <h1 class="h3 mb-3 font-weight-normal">Create Category</h1>
                <label asp-for="CategoryName" class="sr-only">Category Name</label>
                <input asp-for="CategoryName" class="form-control" placeholder="Category Name" required="">
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>
        </div>
        <div class="col-md-4 ">

        </div>
    </div>

</div>
